#serverSwitchBtn {
    -fx-background-image: url("../static/boot.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-cursor: hand;
}

#sensitiveWordBtn {
    -fx-background-image: url("../static/management.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-cursor: hand;
}

#chattingRecordManagementBtn {
    -fx-background-image: url("../static/record.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-cursor: hand;
}

#userManageBtn {
    -fx-background-image: url("../static/userManage.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-cursor: hand;
}

#groupManageBtn {
    -fx-background-image: url("../static/groupManage.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-cursor: hand;
}